.heading-container {
    text-align: center;
    color: var(--text-color);
}

.heading-container h2 {
    font-weight: 650;
}

.heading-container h5 {
    margin-inline: 8px;
}

.bar {
    color: var(--highlight-color);
}

.about-content {
    background-color: var(--bg-color);
    max-width: 1000px;
    min-height: 500px;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    border-right: solid 3px var(--highlight-color);
    box-shadow: var(--shadow);
}

.image-border {
    position: relative;
    display: inline-block;
}

.image-border img {
    position: relative;
    max-width: 320px;
    margin-top: 60px;
    margin-left: 50px;
    z-index: 1;
    border-radius: 1rem;
    box-shadow: var(--shadow);
}

.image-border::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 25px;
    width: 87%;
    height: 80%;
    background-color: var(--highlight-color);
    border: 3px solid var(--highlight-color);
    z-index: 0;
    border-radius: 1rem;
    box-shadow: var(--shadow);
}

.about-texts {
    color: var(--text-color);
    max-width: 530px;
    margin-block: auto;
    margin-left: 70px;
}

.highlight-text {
    color: var(--text-color);
    font-weight: 700;
}

.about-texts h2 {
    color: var(--highlight-color);
    font-size: 18px;
    font-weight: 800;
}

.about-texts p {
    margin-bottom: 0;
}

.about-texts h3 {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-top: 5px;
}

.quotes {
    font-style: normal;
    font-size: 1.3rem;
    color: var(--highlight-color);
}

@media (max-width: 1030px) {
    .about-content {
        margin-inline: 20px;
    }
}

@media (max-width: 1017px) {
    .about-texts {
        margin-left: 40px;
        margin-right: 25px;
    }
}

@media (max-width: 980px) {
    .about-texts {
        margin-left: 25px;
    }
}

@media (max-width: 957px) {
    .about-texts {
        margin-left: 15px;
    }
}

@media (max-width: 945px) {
    .about-content {
        display: block;
        text-align: center;
    }

    .image-border img {
        max-width: 280px;
        margin-left: 0;
    }

    .image-border::before {
        width: 100%;
        height: 85%;
        top: 35px;
        left: -24px;
    }

    .about-texts {
        max-width: 800px;
        margin-top: 33px;
        margin-inline: auto;
        padding-bottom: 20px;
        text-align: left;
    }

    .about-texts h3 {
        text-align: center;
    }
}

@media (max-width: 885px) {
    .about-texts {
        margin-inline: 16px;
    }
}

@media (max-width: 560px) {
    .heading-container h2 {
        font-size: 21px;
    }

    .heading-container h5 {
        font-size: 16px;
    }

    .image-border img {
        max-width: 230px;
    }

    .image-border::before {
        width: 100%;
        height: 83%;
        top: 37px;
        left: -23px;
    }

    .about-texts h2 {
        font-size: 16px;
    }

    .about-texts p {
        font-size: 14px;
    }

    .about-texts h3 {
        font-size: 14px;
    }
}

@media (max-width: 460px) {
    .image-border img {
        max-width: 200px;
    }

    .image-border::before {
        width: 100%;
        height: 80%;
        top: 40px;
        left: -19px;
    }
}

@media (max-width: 412px) {
    .image-border img {
        max-width: 170px;
    }

    .image-border::before {
        width: 100%;
        height: 78%;
        top: 43px;
        left: -16px;
    }
}