/****************** Experience Container ***************/
.ExperienceContainer {
  color: var(--text-color);
}

/****************** Experience Headings **************/
.ExperienceHeadings h1 {
  font-size: 30px;
  font-weight: 300;
  font-family: "Poppins";
  text-align: center;
}

/**************** Experience Content Container ****************/
.ExperienceContentCont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 25px 15px 0 15px;
}

.ExperienceContent {
  background-color: var(--bg-color);
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.ExperienceContent h2 {
  font-size: 20px;
  font-weight: 600;
}

.ExperienceBottomContent {
  padding: 2rem;
}

.ExperienceContent h1 {
  font-size: 25px;
  color: #e03a45;
  font-weight: 700;
}

.ExperienceContent h1 a {
  color: #e03a45;
  text-decoration: underline;
}

.ExperienceContent h1 a:hover {
  text-decoration: none;
}

.ExperienceContent p {
  opacity: 0.7;
}

.ExperienceDesc {
  margin: 10px 0 0 0;
}

/****************** Media Queries ***************/
@media (max-width: 750px) {
  
}