* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    --bg-color: #0f1729;
    --highlight-color: #B8860B;
    --special-heading-color: #f1f5f9;
    --text-color: #ffffff;
    --hero-color: #1e293b;
    --body-color: #000000;
    --navbar-bg-color: #0f17298c;
    --socialMedia-bg-color: #f4e8c9;
    --socialMedia-hover-bg-color: #f5e1af;
    background-color: var(--body-color);
    margin-top: 85px;
}

body.skills-page {
    margin-bottom: 25px;
}

@media (max-width: 720px) {
    body {
        margin-top: 75px;
    }
}

@media (max-width: 430px) {
    body {
        margin-top: 65px;
    }
}